{% extends "blog/base.html" %}

{% block content %}
    {% for post in posts %}

    <div class="card mb-4" style="width: 60%;">
      <div class="card-body">
        <div class="row">
            <div class="col-md-2">
                <img class="rounded-circle" src="{{ post.author.profile.image.url }}">
            </div>
            <div class="col-md-10">
                <h2><a class="text-decoration-none" href="{% url 'post-detail' post.id %}">{{post.title}}</a></h2>
                <h6 class="card-subtitle mb-2 text-muted">by<a class="text-decoration-none" href="{% url 'user-posts' post.author.username %}"> {{post.author}}</a></h6>
                <p class="card-text">{{post.content}}</p>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
{% endblock content %}
